## Импортируем необходимые данные

In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
SELECT USER.user_id,
       USER.lt_day,
       CASE
           WHEN USER.lt_day <= 365 THEN 'новый'
           WHEN USER.lt_day > 365 THEN 'не новый'
       END AS is_new,
       USER.age,
       CASE 
           WHEN USER.gender_segment = 1 THEN 'женщина'
           WHEN USER.gender_segment = 0 THEN 'мужчина'
       END AS gender_segment,
       USER.os_name,
       USER.cpe_type_name,
       location.country,
       location.city,
       age_segment.title AS age_segment,
       traffic_segment.title AS traffic_segment,
       lifetime_segment.title AS lifetime_segment,
       USER.nps_score,
       CASE 
           WHEN USER.nps_score < 7 THEN 'критики'
           WHEN USER.nps_score > 6 AND USER.nps_score < 9 THEN 'нейтралы'
           WHEN USER.nps_score > 8 THEN 'сторонники'
       END AS nps_group
FROM USER AS USER
JOIN location AS location ON USER.location_id = location.location_id
JOIN age_segment AS age_segment ON USER.age_gr_id = age_segment.age_gr_id
JOIN traffic_segment AS traffic_segment ON USER.tr_gr_id = traffic_segment.tr_gr_id
JOIN lifetime_segment AS lifetime_segment ON USER.lt_gr_id = lifetime_segment.lt_gr_id ;
"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,не новый,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,сторонники
1,A001WF,2344,не новый,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,сторонники
2,A003Q7,467,не новый,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,сторонники

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Ссылка на дашборд на сайте Tableau Public:

https://public.tableau.com/app/profile/.65851822/viz/nps_16507141900550/Dashboardnps?publish=yes

### Ссылка на pdf-файл с презентацией:

https://disk.yandex.ru/i/SLt05QDyhXw-zw